.home-image {
    background-image: url('../images/front_back2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-h1 {
    color: white;
}

.nav-item-pad {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.d-item {
    color: white;
}
